BattleTank/Intermediate/

###############
# VS stuff#
###############
*.VC.db
*.VC.opendb
*.sln

###############
# Unreal stuff#
###############
*/Build
*/Binaries
*/DerivedDataCache
*/Intermediate
*/Saved
*/Content/StarterContent/